# add server side includes
AddType text/html .shtml
AddHandler server-parsed .html
AddHandler server-parsed .shtml
Options Includes

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.html index.htm

<IfModule mod_rewrite.c>
  RewriteEngine On

  
</IfModule>

# SET 1 Month Cache for media files
<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=2629744, public"
  </IfModule>
</FilesMatch>

# Secure non-accessable files types
<FilesMatch "\.(ht(access|passwd)|in|ini|inc|xml|tpl)$">
  order allow,deny
  deny from all
</FilesMatch>

# Compress javascript, css and all text files
<ifmodule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>